body {
    height: 100%;
    margin: 0;
}

.container {
    display: inline-block;
    width: 100%;
    }

.background {
    height: 100vh;
    padding-bottom: 50px;
    background-image: url(/img/background.png);
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.container .logo {
    float: left;
    position: absolute;
    top: 0;
    height: 50px;   
    margin-left: 145px; 
    transform: translate(0%, 15%);
}

.container .main {
    display: block;   
    text-align: left;
    margin-left: 160px;
    margin-top: 75px; 
    width: 35%;
    top: 30%;
}

.container .main > h1 {
font-size: 40px;
font-family: 'Dancing Script', cursive;
color: #706F6D;
font-weight: 100;
}

.container .main > p {
    font-size: 15px;
    line-height: 25px;
    font-family:sans-serif;
    color: #706F6D;
    opacity: 0.8;
}

#offer-btn {
    background-color: #EEC338 ;
    color: #fff;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 1px;
    border: none;
    cursor: pointer;
    }

    #offer-btn:hover {
        color:blue;
    }

    #sign-btn {
    background-color: #F7F7F5 ;
    color: #868684;
    padding: 10px;
    margin-left: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 1px;
    border: 1px solid white;
    text-transform:uppercase;
    text-decoration: none;
    cursor: pointer;
    }

    #sign-btn:hover {
        color:gold;
    }
      
      .navbar{
        background-color:burlywood;
        overflow:hidden;
        height:63px;
        position: relative;
      }
      
      .navbar a{
        float:right;
        display:block;
        color:#f2f2f2;
        text-align:center;
        padding:14px 16px;
        text-decoration:none;
        font-size:17px;
      }
      
      .navbar ul{
        margin:8px 0 0 0;
        list-style:none;
        margin-right: 75px;
      }
      
      .navbar a:hover{
        background-color:#ddd;
        color:#000;
      }
      
      .side-nav{
        height:100%;
        width:0;
        position:fixed;
        z-index:1;
        top:0;
        left:0;
        background-color:#111;
        opacity:0.9;
        overflow-x:hidden;
        padding-top:60px;
        transition:0.5s;
      }
      
      .side-nav a{
        padding:10px 10px 10px 30px;
        text-decoration:none;
        font-size:22px;
        color:#ccc;
        display:block;
        transition:0.3s;
      }
      
      .side-nav a:hover{
        color:#fff;
      }
      
      .side-nav .btn-close{
        position:absolute;
        top:0;
        right:22px;
        font-size:36px;
        margin-left:50px;
      }
      
      @media(max-width:568px){
        .navbar-nav{display:none}
      }

      @media(max-width:568px) {
        .navbar a {float: left;}
      }
      
      @media(min-width:568px){
        .open-slide{display:none}
      }
      