@media (max-width: 1100px) {
    .container {
        width: 800px;
        margin: 0 calc(50% - 500px)
    }
}

@media (max-width: 900px) {
    .container {
        width: 700px;
        margin: 0 calc(50% - 350px)
        }
    }
