.mouse {
    display: inline-block;
    width: 20px;
    height: 33px;
    border: 3px solid #706F6D;
    border-radius: 20px;
    text-align: center;
    margin-left: 50%;
    margin-top: 50px;
}
.mouse .wheel {
    display: inline-block;
    width: 3px;
    height: 6px;
    margin-top: 4px;
    background-color: #706F6D;
    animation-name: mouseMove;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}
.mouse:hover .wheel {
    animation-play-state: paused;
}

@keyframes mouseMove {
    0% {
        margin-top: 4px;
        background-color: #706F6D;
    }
    50% {
        background-color: #706F6D;
    }
    100% {
        margin-top: 12px;
        background-color: #706F6D;
    }
}